@import "tailwindcss";


@theme {
  --font-neutra: var(--font-neutra), sans-serif;
  --color-black: #322625;
  --color-grey: #ebebeb;
  --color-blue: #c0e3e5;
  --color-yellow: #fdc936;
}

:root {
  --background: #ffffff;
  --foreground: var(--color-black);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
